body {
  background-color: lightgray;
}
#first {
  width: 70%;
  text-align: center;
  margin: auto;
}

#Oppgave1Div {
  text-align: center;
}

#Oppgave1Div img {
  width: 30%;
}

#Oppgave2Div {
  text-align: center;
}
